* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans serif;
    text-decoration: none;
    list-style: none;
}



:root {
    --bg-color: #222327;
    --text-color: black;
    --main-color: #29fd53;
}

body {
    font-family: "Roboto";

}

/* navigation section starts */


header {

    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 10%;
    transition: all .50s ease;
    caret-color: transparent;



}

.header::before {
    content: "";
    background-color: white;
    height: 100px;

}

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.logo i {
    color: #ffffff;
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color:#ffffff;
    font-size: 3.7rem;
    font-weight: 600;
}



.navbar {
    display: flex;
}

ul {
    list-style-type: none;
}

.navbar a {
    color: #ffffff;
    font-size: 1rem;
    padding: 5px 0;
    margin: 0px 15px;
    transition: all .50s ease;

}


ul li a {
    display: block;
    padding: 10px
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    padding: 10px 10px;
    width: 10%;
    background: white;
    position: absolute;
    border-radius: 10px;
    z-index: 999;
    display: none;
}

ul li a:hover {
    border-radius: 10px;
    background: #112c66
}

ul li:hover ul.dropdown {
    display: block;
}




.navbar a:hover {
    color: #e4a719;
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 5px;
    margin-left: 5px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    background-color: white;
    color: black;
    padding: 10px 10px;
    border-radius: 50%;
}






/* content section starts */

.head-content {
    color: rgb(249, 248, 248);
}

.head-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 25%;
    left: -6%;


}

.head-content-raw {
    display: flex;
    justify-content: space-around;
    width: 100%;



}

.left {
    padding: 0 120px 0 0;


}

.head-content h3 {
    font-size: 20px;
    padding-bottom: 30px;
    color: rgb(55, 134, 245);
}


.head-content h1 {
    font-size: 60px;
    padding-bottom: 30px;
}

.head-content p {
    padding-bottom: 40px;
    font-size: 20px;
    width: 100%;
    margin-top: 0px;

}


.head-content .btn1 {
    font-size: 1.2rem;
    padding: 10px 10px;
    border-radius: 10px;
    /* outline: none; */
    border: none;
    color: white;
    font-weight: 600;
    background-color: #31a2e3;
    margin: 10px auto;
}

.head-content .btn2 {
    font-size: 1.2rem;
    padding: 10px 10px;
    border-radius: 10px;
    /* outline: none; */
    /* border: 2px solid #1d7f75; */
    border: none;
    color: black;
    font-weight: 600;
    background-color: white;
}

.Right {
    width: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;

}

.box1 {
    width: 150px;
    height: 150px;
    background-color: #44db63;
    align-self: flex-end;
    position: absolute;

}

.box2 {
    width: 300px;
    height: 250px;
    align-self: center;
    position: absolute;
    top: 40px;
    right: 30px;


}

.box3 {
    width: 250px;
    height: 200px;
    align-self: flex-start;
    position: absolute;
    top: 200px;
    left: -30px;

}

.box2 img,
.box3 img {
    width: 100%;
    height: 100%;
}

/* content section ends */

.parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
}

.parallax-item h2 {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
}

.parallax-item:first-child {
    background-image: url('assets/1.jpeg');
    background-size: cover;
}

.parallax-item:nth-child(2) {
    background: #080808;
    min-height: 300px;
}

.parallax-item:nth-child(3) {
    background: url("assets/2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Parallax Effect for DIV 3 */
    min-height: 600px;
}

.parallax-item:nth-child(4) {
    background: #060606;
    min-height: 300px;
}
.parallax-item:nth-child(5) {
    background: url("assets/4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Parallax Effect for DIV 3 */
    min-height: 600px;
}
.parallax-item:nth-child(6) {
    background: #060606;
    min-height: 700px;
}

@media screen and (max-width: 768px) {
    .parallax-item h2 {
        font-size: 1.5rem;
    }
}