* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans serif;
    text-decoration: none;
}

:root {
    --bg-color: #222327;
    --text-color: black;
    --main-color: #29fd53;
}

body {
    font-family: "Roboto";
    background-color: #302f58;
}




/* content section starts */

.head-content {
    color: rgb(249, 248, 248);
}

.head-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 25%;
   
    
}

.head-content-raw {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    

}

.left {
    padding: 0 120px 0 0;
   

}

.head-content h3 {
    font-size: 20px;
    padding-bottom: 30px;
    color: rgb(27, 7, 201);
}


.head-content h1 {
    font-size: 60px;
    padding-bottom: 30px;
}

.head-content p {
    padding-bottom: 40px;
    font-size: 20px;
    width: 100%;
    margin-top: 0px;

}


.head-content .btn1 {
    font-size: 1.2rem;
    padding: 10px 10px;
    border-radius: 10px;
    /* outline: none; */
    border: none;
    color: white;
    font-weight: 600;
    background-color: #31a2e3;
    margin: 10px auto;
}

.head-content .btn2 {
    font-size: 1.2rem;
    padding: 10px 10px;
    border-radius: 10px;
    /* outline: none; */
    /* border: 2px solid #1d7f75; */
    border: none;
    color: black;
    font-weight: 600;
    background-color: white;
}

.Right {
    width: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
  
 }
 
 .box1 {
     width: 100px;
     height: 100px;
     background-color: #44db63;
    align-self: flex-end;
    position: absolute;
   
 }
 
 .box2{
     width: 200px;
     height: 300px;
     align-self: center;
     position: absolute;
     top:30px;
     right: 30px;
 
     
 }
 .box3{
     width: 200px;
     height: 200px;
     align-self: flex-start;
     position: absolute;
     top: 200px;
     left: 50px;
    
 }
 .box2 img , .box3 img{
     width: 100%;
     height: 100%;
 }

/* content section ends */




